@font-face {
  font-family: 'sandro-Regular';
  src: url("../Sandro_font/Sandro_font/sandro-Regular.eot==");
  /* IE9 Compat Modes */
  src: url("../Sandro_font/Sandro_font/sandro-Regular.eot?#iefix") format("embedded-opentype"), url("../Sandro_font/Sandro_font/sandro-Regular.woff2") format("woff2"), url("../Sandro_font/Sandro_font/sandro-Regular.woff") format("woff"), url("../Sandro_font/Sandro_font/sandro-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'sandro-Bold';
  src: url("../Sandro_font/Sandro_font/sandro-Bold.eot==");
  /* IE9 Compat Modes */
  src: url("../Sandro_font/Sandro_font/sandro-Bold.eot?#iefix") format("embedded-opentype"), url("../Sandro_font/Sandro_font/sandro-Bold.woff2") format("woff2"), url("../Sandro_font/Sandro_font/sandro-Bold.woff") format("woff"), url("../Sandro_font/Sandro_font/sandro-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'sandro-Italic';
  src: url("../Sandro_font/Sandro_font/sandro-Italic.eot==");
  /* IE9 Compat Modes */
  src: url("../Sandro_font/Sandro_font/sandro-Italic.eot?#iefix") format("embedded-opentype"), url("../Sandro_font/Sandro_font/sandro-Italic.woff2") format("woff2"), url("../Sandro_font/Sandro_font/sandro-Italic.woff") format("woff"), url("../Sandro_font/Sandro_font/sandro-Italic.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'sandro-BoldItalic';
  src: url("../Sandro_font/Sandro_font/sandro-BoldItalic.eot==");
  /* IE9 Compat Modes */
  src: url("../Sandro_font/Sandro_font/sandro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../Sandro_font/Sandro_font/sandro-BoldItalic.woff2") format("woff2"), url("../Sandro_font/Sandro_font/sandro-BoldItalic.woff") format("woff"), url("../Sandro_font/Sandro_font/sandro-BoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'sandro-Regular', sans-serif;
  background: #fff;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
  transition: transform 0.3s ease-in 0.2s;
  z-index: 10;
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  fill: #fff;
  transition: fill 0.3s ease-in 0.4s;
}

.loader.loader-active {
  fill: #000;
}

.secondary-background-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  fill: white;
  mix-blend-mode: difference;
  display: none;
}

.secondary-background-image.secondary-background-image-active {
  display: block;
}

.navigation {
  position: absolute;
  z-index: 1111;
  margin-left: 40px;
  margin-top: 41px;
  display: none;
}

.navigation .publishing-house-header-icon {
  margin-bottom: 16px;
}

.navigation .navigation-bar .burger-share-container {
  margin-bottom: -2px;
  margin-left: -4px;
  position: relative;
}

.navigation .navigation-bar .burger-share-container .burger-button {
  margin-bottom: -4px;
  cursor: pointer;
}

.navigation .navigation-bar .burger-share-container .share-button-background {
  margin-left: -2px;
}

.navigation .navigation-bar .burger-share-container .share-button {
  position: absolute;
  z-index: 1;
  right: 26px;
  bottom: 22px;
}

.navigation .navigation-bar .facebook-instagram-container {
  position: relative;
  margin-bottom: 22px;
}

.navigation .navigation-bar .facebook-instagram-container .facebook-icon {
  position: absolute;
  z-index: 1;
  left: 18px;
  bottom: 22px;
}

.navigation .navigation-bar .facebook-instagram-container .facebook-icon-background {
  margin-bottom: -2px;
}

.navigation .navigation-bar .facebook-instagram-container .instagram-icon-background {
  margin-left: -6px;
  margin-top: -1px;
  position: relative;
}

.navigation .navigation-bar .facebook-instagram-container .instagram-icon {
  position: absolute;
  z-index: 1;
  left: 72px;
  bottom: 23px;
}

.navigation .navigation-bar .secondary-nav-bar {
  display: none;
}

.navigation .navigation-bar .secondary-nav-bar .job-title {
  margin-bottom: 20px;
  position: relative;
}

.navigation .navigation-bar .secondary-nav-bar .job-title .title {
  position: absolute;
  top: 10px;
  left: 5px;
}

.navigation .navigation-bar .secondary-nav-bar .job-title .title p {
  line-height: 26px;
}

.navigation .navigation-bar .secondary-nav-bar.secondary-nav-bar-active {
  display: block;
}

.navigation .navigation-bar .secondary-nav-bar .arrows-container {
  margin-bottom: 20px;
  position: relative;
}

.navigation .navigation-bar .secondary-nav-bar .arrows-container .arrow-buttons {
  position: absolute;
  top: 7px;
}

.navigation .navigation-bar .secondary-nav-bar .arrows-container .arrow-buttons .left-arrow-button {
  margin-left: 5px;
  margin-top: 5px;
}

.navigation .navigation-bar .secondary-nav-bar .arrows-container .arrow-buttons .left-arrow-button:hover {
  cursor: pointer;
}

.navigation .navigation-bar .secondary-nav-bar .arrows-container .arrow-buttons .right-arrow-button {
  position: absolute;
  top: 45px;
  left: 55px;
}

.navigation .navigation-bar .secondary-nav-bar .arrows-container .arrow-buttons .right-arrow-button:hover {
  cursor: pointer;
}

.navigation .navigation-bar .secondary-nav-bar .play-button-container {
  margin-bottom: 20px;
}

.navigation .navigation-bar .secondary-nav-bar .play-button-container:hover {
  cursor: pointer;
}

.play-button-loader-wrapper {
  display: none;
}

.play-button-loader-wrapper.play-button-loader-wrapper-active {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: block;
  z-index: 30;
}

.starting-button-title {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  padding: 0 8px 0 0;
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 15;
  font-family: 'sandro-Bold', sans-serif;
}

.starting-button-title.starting-button-title-active {
  opacity: 1;
}

.letters-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.letters-container svg {
  position: absolute;
}

.letters-container .letter-a-bold {
  top: 35%;
  left: 13%;
  transform: translate(-13%, -35%);
}

.letters-container .letter-a {
  top: 40%;
  left: 30%;
  transform: translate(-30%, -40%);
}

.letters-container .letter-d {
  top: 60%;
  left: 27%;
  transform: translate(-27%, -60%);
}

.letters-container .letter-i {
  top: 50%;
  left: 18%;
  transform: translate(-18%, -50%);
}

.letters-container .letter-n {
  top: 80%;
  left: 38%;
  transform: translate(-38%, -80%);
}

.letters-container .letter-o-bold {
  top: 70%;
  left: 12%;
  transform: translate(-12%, -70%);
}

.letters-container .letter-q {
  top: 10%;
  left: 12%;
  transform: translate(-12%, -10%);
}

.letters-container .letter-s {
  top: 28%;
  left: 22%;
  transform: translate(-22%, -28%);
}

.letters-container .fill-n {
  fill: #000 !important;
}

.letters-container-active {
  opacity: 1;
  pointer-events: all;
}

.sorted-letters-container {
  opacity: 0;
  transition: opacity 0.1s ease-in;
  position: absolute;
  z-index: 40;
  top: 80%;
  left: 10%;
  transform: translate(-10%, -80%);
}

.sorted-letters-container svg {
  fill: #fff;
}

.sorted-letters-container .letter-o-bold {
  margin-bottom: -30px;
}

.sorted-letters-container .letter-i {
  margin-bottom: 20px;
}

.sorted-letters-container .letter-d {
  margin-bottom: -30px;
}

.sorted-letters-container .letter-a {
  margin-bottom: -10px;
}

.sorted-letters-container.sorted-letters-container-active {
  opacity: 1;
  transition: opacity 0.2s ease-in 0.7s;
}

.big-title {
  font-family: 'sandro-Bold', sans-serif;
  position: absolute;
  bottom: 12%;
  right: 3%;
  line-height: 120px;
  transform: translate(-3%, -12%);
  font-size: 72px;
  font-weight: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.big-title.big-title-active {
  opacity: 1;
  pointer-events: all;
  font-size: 100px;
  font-family: 'sandro-Bold', sans-serif;
}

.menu-modal-wrapper.menu-active {
  pointer-events: all;
  width: 100%;
}

.menu-modal-wrapper {
  pointer-events: none;
  min-height: 100vh;
  width: 0%;
  position: relative;
  z-index: 50;
  background-color: #1c1c1c;
  transition: 0.2s ease-in-out;
}

.menu-modal-wrapper .header {
  width: 90%;
  margin: 0 auto;
  padding: 45px 0 94px 0;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.menu-modal-wrapper .header h2 {
  font-family: 'sandro-Bold', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  transition: all 0.5s;
}

.menu-modal-wrapper .header h2.active-menu-button {
  font-size: 30px;
}

.menu-modal-wrapper .header .close-menu-button {
  width: 17px;
  height: 18px;
  cursor: pointer;
}

.menu-modal-wrapper .header .close-menu-button .line-1,
.menu-modal-wrapper .header .close-menu-button .line-2 {
  height: 3px;
  width: 18px;
  background-color: #707070;
}

.menu-modal-wrapper .header .close-menu-button .line-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-modal-wrapper .header .close-menu-button .line-2 {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.table-comps {
  width: 90%;
  margin: 0 auto;
  display: none;
  justify-content: space-between;
}

.table-comps .about-text {
  display: none;
  padding: 64px 32px 0 80px;
}

.table-comps .about-text p {
  font-family: 'sandro-Bold', sans-serif;
  color: #fff;
  line-height: 22px;
  font-size: 18px;
}

.table-comps .content-display {
  width: 100%;
  transition: all 0.5s;
}

.table-comps .row-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 60px;
  grid-row-gap: 45px;
}

.table-comps .row-1 h2 {
  font-family: 'sandro-Bold', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  width: 105px;
  height: fit-content;
  cursor: pointer;
  transition: all 0.5s;
}

.table-comps .row-1 h2.active-menu-button {
  font-size: 30px;
  line-height: 35px;
}

.table-comps .row-1 .svg-holder {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.table-comps .row-1 .svg-holder svg {
  width: 72px;
}

.table-comps .row-1 .svg-holder span {
  font-family: 'sandro-Bold', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  width: 130px;
  margin-left: 35px;
  cursor: pointer;
}

.table-comps .row-1 .flex-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14.4px 0;
}
/*# sourceMappingURL=global.css.map */