*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
  transition: transform 0.3s ease-in 0.2s;
  z-index: 9;
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  fill: #fff;
  transition: fill 0.3s ease-in 0.4s;
}

.navigation {
  position: absolute;
  z-index: 1111;
  margin-left: 40px;
  margin-top: 41px;
  display: none;
}

.navigation .navigation-bar .burger-share-container {
  display: flex;
}

.navigation .navigation-bar .burger-share-container a {
  cursor: pointer;
  margin: 1px;
}

.navigation .navigation-bar .burger-share-container a img {
  pointer-events: none;
}

.navigation .navigation-bar .facebook-instagram-container {
  display: flex;
}

.navigation .navigation-bar .facebook-instagram-container a {
  margin: 1px;
}

.play-button-loader-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: none;
  z-index: 99;
}

.letters-container {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all 0.2s ease-in;
}

.letters-container svg {
  position: absolute;
}

.letters-container .letter-a-bold {
  top: 35%;
  left: 13%;
  transform: translate(-13%, -35%);
}

.letters-container .letter-a {
  top: 40%;
  left: 30%;
  transform: translate(-30%, -40%);
}

.letters-container .letter-d {
  top: 60%;
  left: 27%;
  transform: translate(-27%, -60%);
}

.letters-container .letter-i {
  top: 50%;
  left: 18%;
  transform: translate(-18%, -50%);
}

.letters-container .letter-n {
  top: 80%;
  left: 38%;
  transform: translate(-38%, -80%);
}

.letters-container .letter-o-bold {
  top: 70%;
  left: 12%;
  transform: translate(-12%, -70%);
}

.letters-container .letter-q {
  top: 10%;
  left: 12%;
  transform: translate(-12%, -10%);
}

.letters-container .letter-s {
  top: 28%;
  left: 22%;
  transform: translate(-22%, -28%);
}

.letters-container .fill-n {
  fill: #000 !important;
}

.letters-container-active {
  opacity: 1;
  pointer-events: all;
}

.sorted-letters-container {
  opacity: 0;
  transition: opacity 0.2s ease-in 0.7s;
  position: absolute;
  z-index: 999;
  top: 80%;
  left: 10%;
  transform: translate(-10%, -80%);
}

.sorted-letters-container svg {
  fill: #fff;
}

.sorted-letters-container .letter-o-bold {
  margin-bottom: -30px;
}

.sorted-letters-container .letter-i {
  margin-bottom: 20px;
}

.sorted-letters-container .letter-d {
  margin-bottom: -30px;
}

.sorted-letters-container .letter-a {
  margin-bottom: -10px;
}

.big-title {
  position: absolute;
  bottom: 12%;
  right: 3%;
  line-height: 120px;
  transform: translate(-5%, -12%);
  font-size: 72px;
  font-weight: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.big-title-active {
  opacity: 1;
  pointer-events: all;
  font-size: 100px;
}

.menu-modal-wrapper.menu-active {
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
  max-width: 1366px;
  width: 100%;
}

.menu-modal-wrapper {
  visibility: hidden;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2020;
  background-color: #1c1c1c;
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
}

.menu-modal-wrapper .close-menu-button {
  width: 17px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}

.menu-modal-wrapper .close-menu-button .line-1,
.menu-modal-wrapper .close-menu-button .line-2 {
  height: 3px;
  width: 18px;
  background-color: #707070;
}

.menu-modal-wrapper .close-menu-button .line-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-modal-wrapper .close-menu-button .line-2 {
  transform: rotate(-45deg) translate(-3px, 3px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  padding: 45px 0 94px 0;
}

.header h2 {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
  transition: all 0.5s;
}

.active-menu-button {
  font-size: 40px !important;
  line-height: 50px !important;
}

.table-comps {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 125px;
}

.table-comps .about-text {
  display: none;
  padding: 8rem 1rem;
}

.table-comps .about-text p {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
}

.table-comps a {
  text-decoration: none;
}

.table-comps .content-display {
  display: flex;
  flex-direction: row;
  gap: 125px;
  transition: all 0.5s;
}

.table-comps .row-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 73px;
}

.table-comps .row-1 h2 {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  width: 105px;
  cursor: pointer;
  transition: all 0.5s;
}

.table-comps .row-1 .svg-holder {
  width: 72px;
  height: 72px;
  position: relative;
}

.table-comps .row-1 .svg-holder svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-comps .row-1 .flex-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.table-comps .row-1 .flex-comp svg {
  width: 78px;
}

.table-comps .row-1 .flex-comp span {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  width: 130px;
}
/*# sourceMappingURL=global.css.map */