@mixin responsive($breakpoint) {
    // Phone Portrait
    @if $breakpoint == phone-port-sm {
        @media only screen and (max-width: 320px) { @content };
    }
    @if $breakpoint == phone-port-md {
        @media only screen and (max-width: 380px) { @content };
    }
    @if $breakpoint == phone-port-lg {
        @media only screen and (max-width: 420px) { @content };
    }

    // Phone Landscape
    @if $breakpoint == phone-land-sm {
        @media only screen and (max-width: 480px) { @content };
    }
    @if $breakpoint == phone-land-md {
        @media only screen and (max-width: 670px) { @content };
    }
    @if $breakpoint == phone-land-lg {
        @media only screen and (max-width: 720px) { @content };
    }

    // Tablet Portrait
    @if $breakpoint == tablet {
        @media only screen and (max-width: 768px) { @content };
    }

    // Desktop screen and Tablet Landscape
    @if $breakpoint == desktop {
        @media only screen and (max-width: 1024px) { @content };
    }
}