@font-face {
  font-family: 'sandro';
  src: url('../Sandro_font/Sandro_font/sandro-Bold.eot=='); /* IE9 Compat Modes */
  src: url('../Sandro_font/Sandro_font/sandro-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../Sandro_font/Sandro_font/sandro-Bold.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../Sandro_font/Sandro_font/sandro-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */
      url('../Sandro_font/Sandro_font/sandro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
