@font-face {
  font-family: 'Sandro-Universal-Bold';
  src: url('../Sandro_font/Sandro_font/SandroUniversal-Bold.otf');
}

@font-face {
  font-family: 'sandro-Regular';
  src: url('../Sandro_font/Sandro_font/sandro-Regular.eot==');
  /* IE9 Compat Modes */
  src: url('../Sandro_font/Sandro_font/sandro-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../Sandro_font/Sandro_font/sandro-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'sandro-Bold';
  src: url('../Sandro_font/Sandro_font/sandro-Bold.eot==');
  /* IE9 Compat Modes */
  src: url('../Sandro_font/Sandro_font/sandro-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../Sandro_font/Sandro_font/sandro-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-Bold.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'sandro-Italic';
  src: url('../Sandro_font/Sandro_font/sandro-Italic.eot==');
  /* IE9 Compat Modes */
  src: url('../Sandro_font/Sandro_font/sandro-Italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../Sandro_font/Sandro_font/sandro-Italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-Italic.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-Italic.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'sandro-BoldItalic';
  src: url('../Sandro_font/Sandro_font/sandro-BoldItalic.eot==');
  /* IE9 Compat Modes */
  src: url('../Sandro_font/Sandro_font/sandro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../Sandro_font/Sandro_font/sandro-BoldItalic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-BoldItalic.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('../Sandro_font/Sandro_font/sandro-BoldItalic.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Sandro_font/font-helvetica/HelveticaNeue-Bold.eot');
  src: url('../Sandro_font/font-helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Bold.woff2') format('woff2'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Bold.woff') format('woff'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Sandro_font/font-helvetica/HelveticaNeue-Medium.eot');
  src: url('../Sandro_font/font-helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Medium.woff2') format('woff2'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Medium.woff') format('woff'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Sandro_font/font-helvetica/HelveticaNeue-Light.eot');
  src: url('../Sandro_font/font-helvetica/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Light.woff2') format('woff2'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Light.woff') format('woff'),
      url('../Sandro_font/font-helvetica/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../Sandro_font/font-helvetica/HelveticaNeue.eot');
  src: url('../Sandro_font/font-helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      url('../Sandro_font/font-helvetica/HelveticaNeue.woff2') format('woff2'),
      url('../Sandro_font/font-helvetica/HelveticaNeue.woff') format('woff'),
      url('../Sandro_font/font-helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
