// animations : 'ქაოსი'
// q
@keyframes top-to-bottom-q {
  0% {
    transform: translate(60px, -500px);
  }
  20% {
    transform: translate(150px, -480px);
  }
  40% {
    transform: translate(60px, -410px);
  }
  60% {
    transform: translate(130px, -350px);
  }
  70% {
    transform: translate(100px, -400px);
  }
  90% {
    transform: translate(150px, -250px);
  }
  100% {
    transform: translate(0, 0);
  }
}
// a
@keyframes top-to-bottom-a {
  0% {
    transform: translate(60px, -500px);
  }
  20% {
    transform: translate(180px, -480px);
  }
  40% {
    transform: translate(160px, -430px);
  }
  60% {
    transform: translate(90px, -330px);
  }
  70% {
    transform: translate(100px, -200px);
  }
  90% {
    transform: translate(200px, -380px);
  }
  100% {
    transform: translate(0, 0);
  }
}
// o
@keyframes top-to-bottom-o {
  0% {
    transform: translate(70px, -550px);
  }
  20% {
    transform: translate(180px, -500px);
  }
  40% {
    transform: translate(140px, -400px);
  }
  60% {
    transform: translate(60px, -500px);
  }
  70% {
    transform: translate(100px, -300px);
  }
  90% {
    transform: translate(200px, -280px);
  }
  100% {
    transform: translate(0, 0);
  }
}
// s
@keyframes top-to-bottom-s {
  0% {
    transform: translate(180px, -500px);
  }
  20% {
    transform: translate(150px, -480px);
  }
  40% {
    transform: translate(100px, -450px);
  }
  60% {
    transform: translate(60px, -350px);
  }
  70% {
    transform: translate(100px, -200px);
  }
  90% {
    transform: translate(350px, -350px);
  }
  100% {
    transform: translate(0, 0);
  }
}
// i
@keyframes top-to-bottom-i {
  0% {
    transform: translate(150px, -500px);
  }
  20% {
    transform: translate(100px, -420px);
  }
  40% {
    transform: translate(120px, -460px);
  }
  60% {
    transform: translate(150px, -350px);
  }
  70% {
    transform: translate(100px, -200px);
  }
  90% {
    transform: translate(150px, -320px);
  }
  100% {
    transform: translate(0, 0);
  }
}
