.bg-black {
  background-color: $black;
}


.mobile-version {
  display: none;

  @include responsive(tablet-lg) {
    display: block;
  }
  @include responsive(phone-port-lg-rotate-lock){
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  // First section styles
  .first-section {
    height: 100vh;

    .flex-block {
      height: 100%;
      @include flex-property(flex, center, center);

      .section-content {
        max-width: 380px;
        width: 100%;

        .mobile-letters {
          .mobile-letter-q {
            width: 47px;
            height: 85px;
          }

          .mobile-letter-a-bold {
            height: 42px;
          }

          .mobile-letter-o {
            width: 52px;
            height: 42px;
            margin-bottom: -30px;
          }

          .mobile-letter-s {
            width: 49px;
            height: 62px;
            margin: 0 10px 0 -5px;
          }

          .mobile-letter-i {
            width: 35px;
            height: 45px;
            margin-bottom: 20px;
          }

          .mobile-letter-d {
            width: 72px;
            height: 65px;
            margin-bottom: -30px;
          }

          .mobile-letter-a {
            width: 35px;
            height: 45px;
            margin: 0 5px -10px 5px;
          }

          .mobile-letter-n {
            width: 40px;
            height: 62px;
          }
        }

        .mobile-big-title {
          @include text-property(60px, 'system-ui', $white, 77px);
          margin-top: 30px;
        }

        .content-icons {
          @include flex-property(flex, space-between, center);
          flex-wrap: wrap;
          gap: 19px;
          margin-top: 60px;
        }
      }
    }
  }

  .second-section {
    .contents {
      padding: 0 30px 30px 30px;

      .contents-child {
        display: grid;
        grid-template-columns: auto max-content;
        grid-template-areas: "chapter page";
        align-items: end;
        justify-self: center;
        gap: 4px;
        margin-bottom: 10px;

        .span-icon-contents {
          grid-area: page;
          transform: translateY(35%);

          svg {
            width: 40px;
            height: 40px;
          }
        }

        .chapter {
          grid-area: chapter;
          position: relative;
          overflow: hidden;
          color: #868686;
          font-size: 20px;

          a {
            color: #868686;
            font-size: 20px;
            font-family: 'Helvetica Neue';
          }
        }

        .chapter::after {
          position: absolute;
          padding-left: 4px;
          content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
          text-align: right;
        }
      }
    }
  }

  .mobile-pdf-content {
    @include flex-property(flex, center, center);
    flex-direction: column;
    padding: 30px 0 20px 0;

    h3 {
      @include text-property(40px, $font-universal-bold, $white, 50px);
      margin-bottom: 30px;
    }
  }

  .fourth-section {
    padding: 30px 20px;
    font-family: 'Helvetica Neue';
    line-height: 20px;
    color: #00000079;

    h2 {
      font-size: 35px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      span {
        font-family: system-ui, sans-serif;
        font-weight: 400;
      }
    }

    :last-child {
      text-align: right;
      font-style: italic;
    }
  }

  .mobile-sound-content {
    padding: 30px 0;
    min-height: 101vh;
    .title-burger-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        @include text-property(40px, $font-universal-bold, $white, 45px);
        padding-left: 20px;
      }
    }
    .sound-buttons {
      @include flex-property(flex, center, center);

      svg {
        width: 250px;
        height: 195px;
        margin: 100px 0;
        cursor: pointer;
      }
    }

    .mobile-loader {
      height: 125px;
      background-color: $white;
    }

    .timer-content {
      @include flex-property(flex, flex-end, center);
      margin-top: 70px;
      padding-right: 20px;

      .mobile-time-left {
        @include text-property(50px, $font-universal-bold, $white, 30px);
        height: 30px;
      }
    }
  }

  .white-line {
    width: 100%;
    height: 1.5px;
    background-color: $white;
  }

  .last-section{
    padding: 30px 20px;
    color: #868686;
    font-family: 'Helvetica Neue';
    color: #00000079;
    line-height: 20px;
    h2{
      font-size: 35px;
      font-weight: bold; 
      line-height: 45px;
    }
    p{
      font-size: 16px;   
    }
  }

}
html{
  scroll-behavior: smooth;
}
