body {
  font-family: 'sandro-Regular', sans-serif;
  background: #fff;
}

.svg-background-active {
  display: block;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
  transition: transform 0.3s ease-in 0.2s;
  z-index: 10;
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  fill: #fff;
  transition: fill 0.3s ease-in 0.4s;

  &.loader-active {
    fill: #000;
  }
}

.grid-items-onclick-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 70%;
  transform: translate(-50%, -50%);
  z-index: 11;
  fill: white;
  mix-blend-mode: difference;
  display: none;
}

.active {
  display: block;
}

.navigation {
  position: absolute;
  z-index: 1111;
  margin-left: 40px;
  margin-top: 41px;

  .publishing-house-header-icon {
    margin-bottom: 16px;
  }

  .navigation-bar {
    .burger-share-container {
      margin-bottom: -2px;
      margin-left: -4px;
      position: relative;

      .burger-button {
        margin-bottom: -4px;
        cursor: pointer;
      }

      .share-button-background {
        margin-left: -2px;
      }

      .share-button {
        position: absolute;
        z-index: 1;
        right: 26px;
        bottom: 22px;
      }
    }

    .facebook-instagram-container {
      position: relative;
      margin-bottom: 22px;

      .facebook-icon {
        position: absolute;
        z-index: 1;
        left: 18px;
        bottom: 22px;
      }

      .facebook-icon-background {
        margin-bottom: -2px;
      }

      .instagram-icon-background {
        margin-left: -6px;
        margin-top: -1px;
        position: relative;
      }

      .instagram-icon {
        position: absolute;
        z-index: 1;
        left: 72px;
        bottom: 23px;
      }
    }

    .secondary-nav-bar {
      display: none;

      .job-title {
        margin-bottom: 20px;
        position: relative;

        .download-book {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 68889;
          width: 80px;
          cursor: pointer;
        }
      }

      &.secondary-nav-bar-active {
        display: block;
      }

      .arrows-container {
        margin-bottom: 20px;
        position: relative;

        .arrow-buttons {
          position: absolute;
          top: 7px;

          .left-arrow-button {
            margin-left: 5px;
            margin-top: 5px;

            &:hover {
              cursor: pointer;
            }
          }

          .right-arrow-button {
            position: absolute;
            top: 45px;
            left: 55px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .play-button-container {
        margin-bottom: 20px;

        .pause-button {
          display: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.title {
  position: absolute;
  top: 5%;
  left: 20%;
  @include text-property(44px, $font-regular, $white, none);
  white-space: nowrap;
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 20;

  &.title-active {
    opacity: 1;
  }
}

.preface-content {
  position: absolute;
  top: 17%;
  left: 20%;
  right: 2%;
  padding-bottom: 40px;
  display: none;
  mix-blend-mode: difference;
  z-index: 100;

  .preface-texts {
    p {

      @include text-property(15px, $font-regular, $white, 22px);

      margin-bottom: 20px;

      span {
        font-family: system-ui, sans-serif;
      }
    }
  }

  h5 {

    @include text-property(15px, $font-regular, $white, 22px);

    display: flex;
    justify-content: right;
  }
}

.play-button-loader-wrapper {
  display: none;

  &.play-button-loader-wrapper-active {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: block;
    z-index: 30;
  }
}

.starting-button-title {
  position: fixed;
  @include positions(50%, 70%);
  color: #fff;
  padding: 0 8px 0 0;
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 15;
  font-family: 'sandro-Bold', sans-serif;

  &.starting-button-title-active {
    opacity: 1;
  }
}

.letters-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;

  svg {
    position: absolute;
  }

  .letter-a-bold {
    @include positions(13%, 35%);
  }

  .letter-a {
    @include positions(30%, 40%);
  }

  .letter-d {
    @include positions(27%, 60%);
  }

  .letter-i {
    @include positions(18%, 50%);
  }

  .letter-n {
    @include positions(38%, 80%);
  }

  .letter-o-bold {
    @include positions(12%, 70%);
  }

  .letter-q {
    @include positions(12%, 10%);
  }

  .letter-s {
    @include positions(22%, 28%);
  }

  .fill-n {
    fill: #000 !important;
  }

  &.letters-container-active {
    opacity: 1;
    pointer-events: all;
  }
}

.sorted-letters-container {
  opacity: 0;
  transition: opacity 0.1s ease-in;
  position: absolute;
  z-index: 40;
  @include positions(10%, 80%);

  svg {
    fill: #fff;
  }

  .letter-q {
    animation: top-to-bottom-q 4s linear forwards;
  }

  .letter-a-bold {
    animation: top-to-bottom-a 4s linear forwards;
  }

  .letter-o-bold {
    margin-bottom: -30px;
    animation: top-to-bottom-o 4s linear forwards;
  }

  .letter-s {
    animation: top-to-bottom-s 4s linear forwards;
  }

  .letter-i {
    margin-bottom: 20px;
    animation: top-to-bottom-i 4s linear forwards;
  }

  .letter-d {
    margin-bottom: -30px;
  }

  .letter-a {
    margin-bottom: -10px;
  }

  &.sorted-letters-container-active {
    opacity: 1;
    transition: opacity 0.2s ease-in 0.7s;
  }
}

.big-title {
  font-family: 'sandro-Bold', sans-serif;
  position: absolute;
  bottom: 12%;
  right: 3%;
  line-height: 120px;
  transform: translate(-3%, -12%);
  font-size: 72px;
  font-weight: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;

  &.big-title-active {
    opacity: 1;
    pointer-events: all;
    font-size: 100px;
    font-family: 'Sandro-Universal-Bold';
  }
}

// active menu styles
.menu-modal-wrapper.menu-active {
  pointer-events: all;
  width: 100%;
}

.menu-modal-wrapper {
  pointer-events: none;
  min-height: 100vh;
  width: 0%;
  position: relative;
  z-index: 50;
  background-color: #1c1c1c;
  transition: 0.2s ease-in-out;

  .header {
    width: 90%;
    margin: 0 auto;
    padding: 45px 0 94px 0;
    // display: none;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-family: 'sandro-Bold', sans-serif;
      color: #fff;
      font-size: 24px;
      line-height: 29px;
      cursor: pointer;
      transition: all 0.5s;

      &.active-menu-button {
        font-size: 30px;
      }
    }

    .close-menu-button {
      width: 17px;
      height: 18px;
      cursor: pointer;

      .line-1,
      .line-2 {
        height: 3px;
        width: 18px;
        background-color: #707070;
      }

      .line-1 {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .line-2 {
        transform: rotate(-45deg) translate(-3px, 3px);
      }
    }
  }
}

.table-comps {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 80px;

  .about-content {
    background-color: $black;
    padding: 10px;
    transition: all 0.5s;

    h3 {
      @include text-property(24px, $font-regular, $white, 30px);
    }

    .about-text {
      @include text-property(15px, $font-regular, $white, 22px);
      margin: 15px 0;
    }

    .employees-list {
      h4 {
        @include text-property(16px, $font-regular, $white, 18px);
      }

      p,
      h5,
      .editor-name {
        @include text-property(15px, $font-regular, $white, 22px);
      }

      .editor-name {
        margin: 15px 0;
      }
    }
  }

  .pdf-content {
    background-color: $black;
    width: 100%;
    height: 360px;
    padding: 10px;
    transition: all 0.5s;
    position: relative;

    h3 {
      @include text-property(24px, $font-bold, $white, 30px);
      font-weight: 600;

      span {
        font-family: monospace, sans-serif;
      }
    }

    .download-book {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 170px;
      padding-top: 50px;
      cursor: pointer;
    }
  }

  .content-display {
    width: 100%;
    transition: all 0.5s;
  }

  .row-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 45px;

    h2,
    h3 {
      @include text-property(24px, $font-bold, $white, 29px);
      width: 110px;
      height: fit-content;
      cursor: pointer;
      transition: all 0.5s;

      &.active-menu-button {
        font-size: 30px;
        line-height: 35px;
      }
    }

    h3 {
      margin-top: 80px;
      width: 150px;

      span {
        font-family: monospace, sans-serif;
      }
    }

    .svg-holder {
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        width: 72px;
      }

      span {
        font-family: 'sandro-Bold', sans-serif;
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        width: 130px;
        margin-left: 35px;
        cursor: pointer;
      }
    }

    .flex-comp {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 28.8px;
    }
  }
}

.dn {
  display: none;
}

.db {
  display: block;
}

.df {
  display: flex;
}