.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1c1c1c;
  transition: transform 0.3s ease-in 0.2s;
  z-index: 10;
}

.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  fill: #fff;
  transition: fill 0.3s ease-in 0.4s;
}

.navigation {
  position: absolute;
  // margin-left: 40px;
  // margin-top: 41px;
  top: 5%;
  left: 5%;
  transform: translate(-5%, -5%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 20;
  .navigation-bar {
    .burger-share-container {
      display: flex;
      a {
        cursor: pointer;
        margin: 1px;
        img {
          pointer-events: none;
        }
      }
    }
    .facebook-instagram-container {
      display: flex;
      a {
        margin: 1px;
      }
    }
  }
}

.play-button-loader-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  display: none;
  z-index: 30;
}

.letters-container {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
  svg {
    position: absolute;
  }
  .letter-a-bold {
    @include lettersPosition(13%, 35%);
  }
  .letter-a {
    @include lettersPosition(30%, 40%);
  }
  .letter-d {
    @include lettersPosition(27%, 60%);
  }
  .letter-i {
    @include lettersPosition(18%, 50%);
  }
  .letter-n {
    @include lettersPosition(38%, 80%);
  }
  .letter-o-bold {
    @include lettersPosition(12%, 70%);
  }
  .letter-q {
    @include lettersPosition(12%, 10%);
  }
  .letter-s {
    @include lettersPosition(22%, 28%);
  }
  .fill-n {
    fill: #000 !important;
  }
}

.letters-container-active {
  opacity: 1;
  pointer-events: all;
}

.sorted-letters-container {
  opacity: 0;
  transition: opacity 0.2s ease-in 0.7s;
  position: absolute;
  z-index: 40;
  @include lettersPosition(10%, 80%);
  svg {
    fill: #fff;
  }
  .letter-o-bold {
    margin-bottom: -30px;
  }
  .letter-i {
    margin-bottom: 20px;
  }
  .letter-d {
    margin-bottom: -30px;
  }
  .letter-a {
    margin-bottom: -10px;
  }
}

.big-title {
  position: absolute;
  bottom: 12%;
  right: 3%;
  line-height: 120px;
  transform: translate(-5%, -12%);
  font-size: 72px;
  font-weight: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.big-title-active {
  opacity: 1;
  pointer-events: all;
  font-size: 100px;
}

// active menu styles
.menu-modal-wrapper.menu-active {
  visibility: visible;
  pointer-events: all;
  transform: translateX(0);
}

.menu-modal-wrapper {
  visibility: hidden;
  pointer-events: none;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 50;
  background-color: #1c1c1c;
  transform: translateX(-100%);
  transition: 0.2s ease-in-out;
  .header {
    width: 90%;
    margin: 0 auto;
    padding: 45px 0 94px 0;
    h2 {
      color: #fff;
      font-size: 24px;
      line-height: 29px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .close-menu-button {
      width: 17px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 5%;
      .line-1,
      .line-2 {
        height: 3px;
        width: 18px;
        background-color: #707070;
      }
      .line-1 {
        transform: rotate(45deg) translate(5px, 5px);
      }
      .line-2 {
        transform: rotate(-45deg) translate(-3px, 3px);
      }
    }
  }
}

.active-menu-button {
  font-size: 30px !important;
}


.table-comps {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .about-text {
    display: none;
    padding: 64px 32px 0 80px;
    p {
      color: #fff;
      line-height: 22px;
      font-size: 18px;
    }
  }

  .content-display {
    width: 100%;
    transition: all 0.5s;
    
  }
  .row-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
  .grid-item{
    text-align: center;
  }
    h2 {
      color: #fff;
      font-size: 24px;
      line-height: 29px;
      width: 105px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .svg-holder {
      width: 72px;
      height: 72px;
      position: relative;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .flex-comp {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 14.4px 0;
      svg {
        width: 78px;
        padding-right: 16px;
      }
      span {
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        width: 130px;
      }
    }
  }
}
