// Sandro's Fonts
$font-regular: 'sandro-Regular', sans-serif;
$font-bold: 'sandro-Bold', sans-serif;
$font-universal-bold: 'Sandro-Universal-Bold';
$font-italic: 'sandro-Italic';
$font-bold-italic: 'sandro-Italic';

// Colors
$black: #181818;
$white: #fff;